<div class="browse-blog">
    <h1>BROWSE BLOGS
    </h1>

    <div class="blog-collection row">
        <% @blogs.each do |blog| %>
        <div class="blog-card">
            <div class="blog-title">
                <h3><%=blog.title%></h3>
                <h4>owned by:
                    <%=blog.author_name%></h4>
            </div>
            <div class="blog-description">
                <h5><%= blog.description[0..300].gsub(/\s\w+\s*$/, '...') %></h5>
                <div class="visit-edit-btn">
                    <%= link_to('Visit', "/blogs/#{blog.id}", :class => "btn btn-primary", id: "visit")  %>
                    <% if current_user && (blog.owner == current_user.id || current_user.is_admin) %>
                    <%= link_to('Edit', "/blogs/#{blog.id}/edit", :class => "btn btn-primary", id: "edit")  %>
                    <%= link_to('Delete', "/blogs/#{blog.id}", method: :delete, :class => 'btn btn-danger')  %>
                    <% end %>
                </div>
            </div>
        </div>
        <% end %>
    </div>

    <div class="prev-next row">
            <% if @has_prev %>
            <%= link_to "Prev", "#{request.env['PATH_INFO']}?page=#{params[:page].to_i - 1}", :class => "btn btn-default" %>
            <% end %>
            <% if @has_next %>
            <%= link_to "Next", "#{request.env['PATH_INFO']}?page=#{params[:page].to_i + 1}", :class => "btn btn-default pull-right" %>
            <% end %>
    </div>
</div>
