<div class="signup">
    <h1>Sign Up! </h1>

    <%= form_for :user, url: '/users' do |f| %>
    <div class="new-user">
        <div class="row">
            <%= f.text_field :name, placeholder: "Name", class:"new-user-info" %>
        </div>
        <div class="row">
            <%= f.text_field :email, placeholder:"Email", class:"new-user-info" %>
        </div>
        <div class="row">
            <%= f.password_field :password, placeholder: "Password", class:"new-user-info" %>
        </div>
        <div class="row">
            <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", class:"new-user-info" %>
        </div>
        <div class="row">
            <%= f.submit "Submit", class:"submit-button"%>
        </div>
    </div>

    <% end %>
</div>
