<% if current_user && @post.id == current_user.id %>
<div class="pull-right">
    <%= link_to('Edit', "/blogs/#{params[:blog_id]}/posts/#{@post.id}/edit", :class => 'btn btn-default')  %>
</div>
<% end %>
<div class="post">
    <div class="post-title">
        <h1><%= @post.title %></h1>
    </div>
    <div class="post-content">
        <p><%= @post.body %></p>
    </div>
</div>

<%= form_for :comment, url: "/blogs/#{params[:blog_id]}/posts/#{@post.id}/comments" do |f| %>
<div class="new-comment">
    <div class="row"> <%= f.text_area :text, placeholder:"Write a comment..."%></div>
    <div class="row"><%= f.submit "Submit", class: "submit-button"%></div>
    <% end %>
</div>

<%= form_for :category, url: "/blogs/#{params[:blog_id]}/posts/#{@post.id}/categories" do |f| %>
<div class="new-category">
    <div class="row"> <%= f.text_area :name, placeholder:"Categorize this post..."%></div>
    <div class="row"> <%= f.submit "Submit", class: "submit-button"%></div>
    <% end %>
</div>

<% @post.comments.each do |comment| %>
<div class="comment-card">
        <p class = "comment"><%= comment.text %></p>
        <p class ="author"><%= comment.author_name %></p>
        <div class="row" id = "edit-dlt-btn">
          <!--  if this is the current user and author of this comment show edit and delete options-->
            <% if current_user && comment.author == current_user.id %>
            <!-- edit button -->
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal_<%=comment.id%>">Edit</button>
            <!-- edit modal  -->
            <div id="modal_<%=comment.id%>" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">
                                Edit Comment:
                            </h4>
                        </div>
                        <div class="modal-body">
                            <%= form_for :comment, url: "/blogs/#{params[:blog_id]}/posts/#{@post.id}/comments/#{comment.id}", method: :put do |f| %>
                            <%= f.text_area :text, :value => comment.text %>
                            <%= f.submit "Submit", class: "submit-button" %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
            <!--  delete button -->
            <%= link_to('Delete', "/blogs/#{params[:blog_id]}/posts/#{@post.id}/comments/#{comment.id}", method: :delete, :class => 'btn btn-default', id: "dlt-btn") %>
            <% end %>
        </div>
</div>
<% end %>

<div class = "category-header">
  <p><%= "Categories:" %></p>
</div>

<% @post.categories.each do |category| %>
  <div class="category-card">
    <p class = "category"><%= category.name %></p>
    <%= link_to('Delete', "/blogs/#{params[:blog_id]}/posts/#{@post.id}/categories/#{category.id}", method: :delete, :class => 'btn btn-default') %>
  </div>
<% end %>
