 <% if current_user && @post.id == current_user.id %>
  <div class="pull-right">
     <%= link_to('Edit', "/blogs/#{params[:blog_id]}/posts/#{@post.id}/edit", :class => 'btn btn-default')  %>
  </div>
<% end %>
<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<%= form_for :comment, url: "/blogs/#{params[:blog_id]}/posts/#{@post.id}/comments" do |f| %>
Text: <%= f.text_area :text %>
<%= f.submit "Submit" %>
<% end %>

<h1><%= @post.title %></h1>
<p><%= "Category" %></p>
<%= form_for :category, url: "/blogs/#{params[:blog_id]}/posts/#{@post.id}/categories" do |f| %>
Text: <%= f.text_area :name %>
<%= f.submit "Submit" %>
<% end %>

<% @post.categories.each do |category| %>
  <div class="category-card">
    <h1><%= category.name %></h1>
  </div>
<% end %>


<% @post.comments.each do |comment| %>
  <div class="comment-card">
    <h1><%= comment.author %></h1>
    <h3><%= comment.text %></h3>
    <% if current_user && comment.author == current_user.id %>
      <%= link_to('Edit', "/blogs/#{params[:blog_id]}/posts/#{@post.id}/comments/#{comment.id}", :class => 'btn btn-default')  %>
      <!-- TODO add delte-->
      <%= link_to('Delete', "/blogs/#{params[:blog_id]}/posts/#{@post.id}/comments/#{comment.id}", method: :delete, :class => 'btn btn-default')  %>

    <% end %>
  </div>
<% end %>
